#calculator{
    height: 350px;
    width: 250px;
    background-color: rgb(234, 236, 239);
    border: solid;
    border-radius: 10px;
}
 .num{
    height: 40px;
    width: 70px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: solid;
    font-weight: 700;
    
 }
 #display{
    margin: 10px;
    left: 9px;
    position: relative;
    height: 40px;
    width: 203px;
    
 }
 #buttoncontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }